.cart-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $ui-color;
  margin: 10px;
}

.cart-items {
  margin: auto;
}

.remove-btn {
  cursor: pointer;
}

.checkout-tag {
  width: fit-content;
  background-color: $button-color;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .cart-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  .checkout-tag {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .cart-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
  }

  .checkout-tag {
    margin: auto;
  }
}