.page-detail {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  margin: 10px;
}

.detail-img {
  width: auto;
  height: 250px;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.heading-description {
  color: $ui-color;
}

.p-title {
  color: $ui-color;
}