.page-detail {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.detail-img {
  width: auto;
  height: 250px;
}

.flex-child {
  align-self: flex-start;
}

// .subgrid {
//   order: 2;
// }

.heading-description {
  color: $ui-color;
}

.p-title {
  color: $ui-color;
}