body {
  background-color: $background-color;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.products-container {
  margin: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products-container>.products-img {
  display: flex;
  flex-wrap: wrap;
}

.product-img {
  margin: 5px;
  height: 250px;
  width: auto;
  border-radius: 5px;
  border: 2px solid white;
}

.fav-button {
  color: green;
  pointer-events: all;
  cursor: pointer;
  position: relative;
  top: 25px;
  left: 110px;

  &:hover {
    transform: scale(1.1);
  }
}

.logout-btn {
  width: fit-content;
  background-color: $button-color;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  margin: auto;
}

.cart-link {
  width: fit-content;
  background-color: $button-color;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  margin: auto;
}

.title-tag {
  width: auto;
  color: white;
  padding: 5px;
  margin: 5px;
}

.link-tag {
  width: fit-content;
  background-color: $button-color;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  margin: auto;
}

.link-page {
  color: $text-color;
  text-decoration: none;
}

// .search {
//   height: auto;
//   margin: auto;
//   display: flex;
//   justify-content: center;
  
// }

.search-label {
  display: flex;
  color: $ui-color;
  padding: 10px;
  margin: 10px;
}

.genre-search {
  height: 20px;
  margin-left: 10px;
}

.spinner {
  text-align: center;
  color: $ui-color;
}